@charset "UTF-8";

@font-face{
    font-family: 'andoid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: android;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--font-destaque);
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}
header > h1 {
    color: white;
    font-weight: normal;
    font-size: 3em;
    padding-bottom: 20px;
    text-shadow: 3px 3px 5px black;
}
header > p {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
    margin: auto;
    font-size: 1.2em;
    color: white;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.652);
}
nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    padding: 20px;
    min-width: 320px;
    max-width: 900px;
    margin: auto;
}
main img{
    width: 100%;
}
main img.pq{
    display: block;
    margin: auto;
   max-width: 350px;
} 
div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
main h1{
    font-family: var(--font-destaque);
    color: var(--cor5);
}
main h2{
    font-family: var(--font-destaque);
    color: white;
    background-image: linear-gradient(to right, var(--cor5), transparent);
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
aside{
     background-color: var(--cor1);
     border-radius: 10px;
     padding: 10px;
}
aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
    font-size: 0.8em;
}