@charset "utf-8";

/* demais mídias */

/* Typical Device Breakpoints
Pequenas telas: até 600px
celllular: 600px até 768px
tablet: 768px até 1200px
grandes telas: acima de 1200px */

@media print{
    /* impressão */
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(imagens/back-print.jpg);/* desnecessário */
    }
    main{
        border: 2px solid black;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
 body{
    background-image: url(imagens/back-tablet.jpg);
 }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#desktop{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width:992px) and (max-width:1200px){
    body{
    background-image: url(imagens/back-pc.jpg);
 }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#desktop{display: block;}
    img#tv{display: none;}
}
@media screen and (min-width:1200px){
    body{
    background-image: url(imagens/back-tv.jpg);
 }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#desktop{display: none;}
    img#tv{display: block;}
}