@charset "UTF-8";

/* 
tudo que em HTML é id    = em CSS # (somente um elemento)
tudo que em HTML é class = em CSS . (aplicado a varios elementos)
*/
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(114, 18, 203);
}
h1#principal{
    text-align: center;
    background-color: aliceblue;
    color: black;
}
h2{
    color: blue;
}
.basico{
    color: blue;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}