*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 40px 20px auto 20px / 1fr 2fr 1fr;
    gap: 5px;
}
header {
    background-color: red;
    grid-area: 1 / 1/ 2 / 4 ;
}
menu {
    background-color: yellow;
    grid-area: 2 / 1 / 3 / 4;
}
main {
    background-color: green;
    grid-area: 3 / 1 / 4 / 3 ;
}
aside {
    background-color: blue;
}
footer {
    background-color: black;
    grid-area: 4 / 1 / 5 / 4;
}