@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #f1d8c8, #f2c3a7);
}
main{
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.31);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 1px #f39209a8;
}
h2{
    color: #125189;
}
p{
    text-align: justify;
}